/* GENERICS */

* {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* INTESTAZIONE */

header {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: white;

}
.row{
    display: flex;
    padding: 25px;
}

.column-left {
    width: 50%;
    display: flex;
}

.column-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

a{
    text-decoration: none;
    padding-left: 30px;
}

#inizia{
    background-color: #0061FF;
    color: white;
    padding: 5px 10px 5px 10px;
    margin-left: 25px;
}

#logo {
    height: 25px;
}

/* MAIN */

#jumbotron {
    margin-top: 80px;
    width: 100%;
    background-color: #B4D0E7;
}

.small-container{
    margin: 0 auto;
    width: 1200px;
}

h1{
    font-size: 80px;
    margin: auto;
    padding-top: 80px;
}
.riga {
    display: flex;
    position: relative;
}


.col-box-30{
    width: 30%;
    margin-top: 50px;
}

.col-box-70{
    width: 70%;

}

#prova {
    background-color: #0061FF;
    color: white;
    padding: 5px 15px 5px 15px;
    margin-top: 25px;

}

.nopadding {
    padding-left: 0;
}

#jumbo {
    max-width: 70%;
    height: auto;
    position: absolute;
    top: 70px;
}

span{
    display: block;
    padding-top: 25px;
}

#freccia{
    padding-top: 20px;
    font-size: 50px;
    padding-bottom: 25px;
}