/* GENERICS */

* {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* INTESTAZIONE */

.row{
    display: flex;
    padding: 25px;
}

.column-left {
    width: 50%;
    display: flex;
}

.column-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

a{
    text-decoration: none;
    padding-left: 30px;
}

#inizia{
    background-color: #0061FF;
    color: white;
    padding: 5px 10px 5px 10px;
    margin-left: 25px;
}

#logo {
    height: 25px;
}

/* MAIN */

#jumbotron {
    width: 100%;
    background-color: #B4D0E7;
}

.small-container{
    margin: 0 auto;
    width: 1200px;
    max-height: 500px;
}

h1{
    font-size: 80px;
    margin: auto;
    padding-top: 30px;
}

.col-box-30{
    width: 30%;
    margin-top: 50px;
}

.col-box-70{
    width: 70%;
    display: flex;

}

#prova {
    background-color: #0061FF;
    color: white;
    padding: 5px 10px 5px 10px;
    margin-top: 20px;

}

.nopadding {
    padding-left: 0;
}

#jumbo {
    height: 450px;
}